
<% if coach_signed_in? %>

  <div class="row">
    <div class="span4">
      <h1>Seasons</h1>

      <% @seasons.each do |season| %>
      <div class="row">
        <div class="span4">
          <% if season.spring == true %>
            <h3><%= link_to "Spring #{season.year}", season_meets_path(season) %></h3>
          <% elsif season.winter == true %>
            <h3><%= link_to "Winter #{season.year}", season_meets_path(season) %></h3>
          <% end %>
        </div>
      </div>

      <% end %>

      <div class="row">
        <div class="span4">
          <%= link_to "New Season", new_season_path, :class => 'btn' %>
        </div>
      </div>

    </div>


    <div class="span4">
      <h1>Athletes</h1>
        <div class="row">
          <div class="span2">
            <h2>Boys</h2>
            <% @athletes_boys.each do |athlete| %>
            <div class="row">
              <div class="span2">
                <p><%= link_to athlete.name, coach_athlete_path(current_coach, athlete) %></p>
              </div>
            </div>
            <% end %>
          </div>

          <div class="span2">
            <h2>Girls</h2>
            <% @athletes_girls.each do |athlete| %>
            <div class="row">
              <div class="span2">
                <p><%= link_to athlete.name, coach_athlete_path(current_coach, athlete) %></p>
              </div>
            </div>
            <% end %>
          </div>

        </div>



      <div class="row">
        <div class="span2">
          <%= link_to "New Athlete", new_coach_athlete_path(current_coach) , :class => 'btn' %>
        </div>
      </div>

    </div>

    <div class="span4">
      <h1>Schools in Conference</h1>
        <% @schools.each do |school| %>
          <div class="row">
            <div class="span4">
              <p><%= link_to school.name, coach_school_path(current_coach, school) %></p>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="span4">
            <%= link_to "Add more schools", new_coach_school_path(current_coach), :class => 'btn' %>
          </div>
        </div>
      </div>
    </div>


  </div>

<% else %>
  <div class="row">
    <div class="span6">
      <h2>Sign in to start</h2>
    </div>
  </div>
<% end %>


