
<% if coach_signed_in? %>

  <div class="row">
    <div class="span6">
      <h1>Seasons</h1>

      <% @seasons.each do |season| %>
      <div class="row">
        <div class="span5 offset4">
          <% if season.spring == true %>
            <h3><%= link_to "Spring #{season.year}", season %></h3>
          <% elsif season.winter == true %>
            <h3><%= link_to "Winter #{season.year}", season %></h3>
          <% end %>
        </div>
      </div>

      <% end %>

      <div class="row">
        <div class="span5 offset4">
          <%= link_to "New Season", new_season_path, :class => 'btn' %>
        </div>
      </div>

    </div>


    <div class="span6">
      <h1>Athletes</h1>
        <div class="row">
          <div class="span3">
            <h2>Boys</h2>
            <% @athletes_boys.each do |athlete| %>
            <div class="row">
              <div class="span3">
                <p><%= link_to athlete.name, coach_athlete_path(current_coach, athlete) %></p>
              </div>
            </div>
            <% end %>
          </div>

          <div class="span3">
            <h2>Girls</h2>
            <% @athletes_girls.each do |athlete| %>
            <div class="row">
              <div class="span3">
                <p><%= link_to athlete.name, coach_athlete_path(current_coach, athlete) %></p>
              </div>
            </div>
            <% end %>
          </div>

        </div>



      <div class="row">
        <div class="span3">
          <%= link_to "New Athlete", new_coach_athlete_path(current_coach) , :class => 'btn' %>
        </div>
      </div>

    </div>


  </div>

<% else %>
  <div class="row">
    <div class="span6">
      <h2>Sign in to start</h2>
    </div>
  </div>
<% end %>


