<%= form_for [@season, @meet, @four_hundred_meter_m], :html => { :mulitpart => true } do |f| %>
  
  <div class="row">
    <div class="span3 offset2">
      <p>Ties</p>
    </div>
  </div>

  <div class="row">
    <div class="span1 offset2">Two-Way</div>
    <div class="span1">Three-Way</div>
    <div class="span1">Four-Way</div>
    <div class="span1">Five-Way</div>
    <div class="span1">Six-Way</div>
  </div>

  <div class="row">
    <div class="span1">
      <p>1<sup>st</sup></p>
    </div>
    <div class="span1">
      <%= f.select :first_place_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :first_place_tie_two_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :first_place_tie_three_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :first_place_tie_four_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :first_place_tie_five_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :first_place_tie_six_id, @schools  %>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <p>2<sup>nd</sup></p>
    </div>
    <div class="span1">
      <%= f.select :second_place_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :second_place_tie_two_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :second_place_tie_three_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :second_place_tie_four_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :second_place_tie_five_id, @schools  %>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <p>3<sup>rd</sup></p>
    </div>
    <div class="span1">
      <%= f.select :third_place_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :third_place_tie_two_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :third_place_tie_three_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :third_place_tie_four_id, @schools  %>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <p>4<sup>th</sup></p>
    </div>
    <div class="span1">
      <%= f.select :fourth_place_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :fourth_place_tie_two_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :fourth_place_tie_three_id, @schools  %>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <p>5<sup>th</sup></p>
    </div>
    <div class="span1">
      <%= f.select :fifth_place_id, @schools  %>
    </div>
    <div class="span1">
      <%= f.select :fifth_place_tie_two_id, @schools  %>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <p>6<sup>th</sup></p>
    </div>
    <div class="span1">
      <%= f.select :sixth_place_id, @schools  %>
    </div>
  </div>


  <dt style="visibility:hidden;"><%= f.submit "Submit", :class => 'btn rails-btn' %></dt>

<% end %>