<h1><%= "Create new events for #{@meet.name}" %></h1>

<table id="events-table">
  <tr>
    <th></th>
    <% @events.each do |event| %>
      <th><%= event %></th>
    <% end %>
  </tr>

  <% @athletes.each do |athlete| %>
  <tr id=<%= "#{athlete.name.split(" ")[0]}-#{athlete.name.split(" ")[1]}"%>>
    <td><%= athlete.name %></td>
    <% @events.each do |event| %>
    <td><%= check_box_tag("#{event}_#{athlete.name}".to_sym) %></td>
    <% end %>
  </tr>
  <% end %>

</table>

<script type="text/javascript">
  var athletes = new Array();
  var arrayInAthletes = new Array();
  element = document.getElementById("events-table");
  var athletesArray = element.children[0].children
  for (i=1; i < athletesArray.length; i++) {
    var rowArray = athletesArray[i].children;
    arrayInAthletes = [];
    arrayInAthletes[0] = rowArray[0].innerText;
    var sum = 0;
    
    for (j=1; j < rowArray.length; j++) {
      var checkBox = rowArray[j].children[0];
      var checkedValue = $('#'+checkBox.id+':checked').val();
      if (checkedValue === "1") {
        arrayInAthletes[sum+1] = rowArray[j].children[0].id;
        sum += 1;
      }
    }

    athletes[i-1] = arrayInAthletes;

  }
</script>