<h1><%= "#{@meet.name} at #{@meet.location}, #{@meet.date}" %></h1>

<div class="row">

  <div class="span4">
    <h2>Standings</h2>
  </div>

  <div class="span4">
    <h2>Something else</h2>
  </div>

  <div class="span4">
    <h2>Scoring Scheme</h2>
  </div>

</div>

<%= link_to "Create Event Lineup", new_season_meet_events_boy_path(@season, @meet), :class => 'btn btn-success' %>
<%= link_to "See Lineup", season_meet_events_boys_path(@season, @meet), :class => 'btn' %>
<%= link_to "Back", season_meets_path, :class => 'btn' %>
<%= link_to "Edit", edit_season_meet_path, :class => 'btn' %>