<h1><%= "Boys lineup for #{@meet.name}" %></h1>
<% Meet.calculate_total_points(@meet, @events_boys) %>
<h3><%= "Total Points: #{@meet.boys_total_points}"  %></h3>

<div class="row">
  <div class="span12">
    <table id="events-table">
      <tr>
        <th></th>
        <% @events.each do |event| %>
          <th><%= event %></th>
        <% end %>
      </tr>

      <% @events_boys.each do |events_boys| %>
        <% event = events_boys.first  %>
        <tr>
          <td><%= Athlete.find_by_id(event.athlete_id).name %></td>
          
            <td>
              <% if event.boys_400_m_im == true %>
                <% if event.place_400_m_im == 'No Place' %>
                  <%= image_tag("WX_circle_red.png", size: "16") %>
                <% elsif event.place_400_m_im.nil? || event.place_400_m_im == 'Did Not Run Yet' %>
                  <%= image_tag("600px-Ski_trail_rating_symbol-green_circle.svg.png", size: "16") %>
                <% else %>
                  <%= event.place_400_m_im %>
                <% end %> 
              <% end %>
            </td>

            <td>
              <% if event.boys_100_m == true %>
                <% if event.place_100_m == 'No Place' %>
                  <%= image_tag("WX_circle_red.png", size: "16") %>
                <% elsif event.place_100_m.nil? || event.place_100_m == 'Did Not Run Yet'  %>
                  <%= image_tag("600px-Ski_trail_rating_symbol-green_circle.svg.png", size: "16") %>
                <% else %>
                  <%= event.place_100_m %> 
                <% end %> 
              <% end %>
            </td>

            <td>
              <% if event.boys_1600_m == true %>
                <% if event.place_1600_m == 'No Place' %>
                  <%= image_tag("WX_circle_red.png", size: "16") %>
                <% elsif event.place_1600_m.nil? || event.place_1600_m == 'Did Not Run Yet' %>
                  <%= image_tag("600px-Ski_trail_rating_symbol-green_circle.svg.png", size: "16") %>
                <% else %>
                  <%= event.place_1600_m %> 
                <% end %>   
              <% end %>
            </td>

            <td>
              <% if event.boys_400_m == true %>
                <% if event.place_400_m == 'No Place' %>
                  <%= image_tag("WX_circle_red.png", size: "16") %>
                <% elsif event.place_400_m.nil? || event.place_400_m == 'Did Not Run Yet' %>
                  <%= image_tag("600px-Ski_trail_rating_symbol-green_circle.svg.png", size: "16") %>
                <% else %>
                  <%= event.place_400_m %> 
                <% end %>
              <% end %>
            </td>

            <td>
              <% if event.boys_110_m_hh == true %>
                <% if event.place_110_m_hh == 'No Place' %>
                  <%= image_tag("WX_circle_red.png", size: "16") %>
                <% elsif event.place_110_m_hh.nil? || event.place_110_m_hh == 'Did Not Run Yet' %>
                  <%= image_tag("600px-Ski_trail_rating_symbol-green_circle.svg.png", size: "16") %>
                <% else %>
                  <%= event.place_110_m_hh %> 
                <% end %>
              <% end %>
            </td>

            <td>
              <% if event.boys_800_m == true %>
                <% if event.place_800_m == 'No Place' %>
                  <%= image_tag("WX_circle_red.png", size: "16") %>
                <% elsif event.place_800_m.nil? || event.place_800_m == 'Did Not Run Yet' %>
                  <%= image_tag("600px-Ski_trail_rating_symbol-green_circle.svg.png", size: "16") %>
                <% else %>
                  <%= event.place_800_m %>  
                <% end %>  
              <% end %>
            </td>

            <td>
              <% if event.boys_3200_m == true %>
                <% if event.place_3200_m == 'No Place' %>
                  <%= image_tag("WX_circle_red.png", size: "16") %>
                <% elsif event.place_3200_m.nil? || event.place_3200_m == 'Did Not Run Yet' %>
                  <%= image_tag("600px-Ski_trail_rating_symbol-green_circle.svg.png", size: "16") %>
                <% else %>
                  <%= event.place_3200_m %> 
                <% end %>
              <% end %>
            </td>

            <td>
              <% if event.boys_200_m == true %>
                <% if event.place_200_m == 'No Place' %>
                  <%= image_tag("WX_circle_red.png", size: "16") %>
                <% elsif event.place_200_m.nil? || event.place_200_m == 'Did Not Run Yet' %>
                  <%= image_tag("600px-Ski_trail_rating_symbol-green_circle.svg.png", size: "16") %>
                <% else %>
                  <%= event.place_200_m %> 
                <% end %>
              <% end %>
            </td>

            <td>
              <%= link_to "Input Times", edit_season_meet_events_boy_path(@season, @meet, event) %>
            </td>

            <td>

            </td>

        </tr>
      <% end %>

    </table>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to "Meet Dashboard", season_meet_path(@season, @meet), :class => 'btn' %>
  </div>
</div>
